Random task assignment program
<br>
This program randomly assigns team members to 3 different tasks following these steps:
<br>
1. Read in a team roster, which inlcudes information on team members who have recently completed these tasks.
<br>
2. Create a "population" dataframe by removing team members who have recently done these tasks.
<br>
3. Select two people for the first task. Remove them from the population and then select two people for the second task - etc.

In [195]:
import pandas as pd
import random
import numpy as np
import string

In [197]:
#We'll read in a csv with actual team data for the formal run of this program, but for GitHub example data 
#is generated here. Names represented with letters.

#team_roster = pd.read_csv(r'C:\Users\....csv')

team_roster = pd.DataFrame({'Resource': list(string.ascii_uppercase[0:19]), 
     'L&L': ['Recent Experience', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 'Recent Experience', 'Recent Experience', np.nan,],
    'Culture': [np.nan, np.nan, np.nan, np.nan, np.nan, 'Recent Experience', np.nan, 'Recent Experience', np.nan, 'Recent Experience', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,],
    'Office Administration': [np.nan, np.nan, 'Recent Experience', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,]})

#reordering columns - they get wonky for some reason
team_roster = team_roster[['Resource','L&L','Culture','Office Administration']]
team_roster

   Resource                L&L            Culture Office Administration
0         A  Recent Experience                NaN                   NaN
1         B                NaN                NaN                   NaN
2         C                NaN                NaN     Recent Experience
3         D                NaN                NaN                   NaN
4         E                NaN                NaN                   NaN
5         F                NaN  Recent Experience                   NaN
6         G                NaN                NaN                   NaN
7         H                NaN  Recent Experience                   NaN
8         I                NaN                NaN                   NaN
9         J                NaN  Recent Experience                   NaN
10        K                NaN                NaN                   NaN
11        L                NaN                NaN                   NaN
12        M                NaN                NaN                   NaN
13        N                NaN                NaN                   NaN
14        O                NaN                NaN                   NaN
15        P                NaN                NaN                   NaN
16        Q  Recent Experience                NaN                   NaN
17        R  Recent Experience                NaN                   NaN
18        S                NaN                NaN                   NaN

In [198]:
#Filter out team members with the value "Recent Experience" to create a population for selection
population = team_roster.loc[(team_roster['L&L'].isnull()) & \
                             (team_roster['Culture'].isnull()) & (team_roster['Office Administration'].isnull())]
print(population)

   Resource  L&L Culture Office Administration
1         B  NaN     NaN                   NaN
3         D  NaN     NaN                   NaN
4         E  NaN     NaN                   NaN
6         G  NaN     NaN                   NaN
8         I  NaN     NaN                   NaN
10        K  NaN     NaN                   NaN
11        L  NaN     NaN                   NaN
12        M  NaN     NaN                   NaN
13        N  NaN     NaN                   NaN
14        O  NaN     NaN                   NaN
15        P  NaN     NaN                   NaN
18        S  NaN     NaN                   NaN

In [199]:
#Create a list of team members in the population
population_list = list(population['Resource'])
population_list

['B', 'D', 'E', 'G', 'I', 'K', 'L', 'M', 'N', 'O', 'P', 'S']

In [201]:
#Select our Lunch and Learn leaders
LnL = random.sample(population_list, 2)
LnL

['G', 'D']

In [202]:
#Remove L&L leaders from population list and select Culture leaders
for i in population_list:
    if i in LnL:
        population_list.remove(i)

Culture = random.sample(population_list, 2)
Culture

['L', 'K']

In [203]:
#Remove Culture leaders from population list and select Office Administration leaders
for i in population_list:
    if i in Culture:
        population_list.remove(i)
        
Office_Admin = random.sample(population_list, 2)
Office_Admin

['I', 'E']